@import url(../fonts/fonts.css);
@import url(../blocks/root/root.css);

/* endOfCourse */

@import url(../blocks/endOfCourse/endOfCourse.css);
@import url(../blocks/endOfCourse/__congratulate/endOfCourse__congratulate.css);
@import url(../blocks/endOfCourse/__name/endOfCourse__name.css);
@import url(../blocks/endOfCourse/__container/endOfCourse__container.css);
@import url(../blocks/endOfCourse/__container/_type/endOfCourse__container_type_sorry.css);
@import url(../blocks/endOfCourse/__container/_type/endOfCourse__container_type_congratulate.css);
@import url(../blocks/endOfCourse/__text/endOfCourse__text.css);
@import url(../blocks/endOfCourse/__text/_type/endOfCourse__text_type_congratulate.css);
@import url(../blocks/endOfCourse/__text/_type/endOfCourse__text_type_sorry.css);
@import url(../blocks/endOfCourse/__title/endOfCourse__title.css);
@import url(../blocks/endOfCourse/__title/_type/endOfCourse__title_type_sorry.css);
@import url(../blocks/endOfCourse/__title/_type/endOfCourse__title_type_congratulate.css);