@import url(../fonts/fonts.css);
@import url(../blocks/root/root.css);

/* video */

@import url(../blocks/video/video.css);
@import url(../blocks/video/__button/video__button.css);
@import url(../blocks/video/__button/_type/video__button_type_play.css);
@import url(../blocks/video/__button/_type/video__button_type_sound.css);
@import url(../blocks/video/__button/_type/video__button_type_timeline.css);
@import url(../blocks/video/__button/_type/video__button_type_size.css);
@import url(../blocks/video/__button/_type/video__button_type_sound-icon.css);
@import url(../blocks/video/__player/video__player.css);
@import url(../blocks/video/__title/video__title.css);

/* results */

@import url(../blocks/results/results.css);
@import url(../blocks/results/__bad/results__bad.css);
@import url(../blocks/results/__good/results__good.css);
@import url(../blocks/results/__score/results__score.css);
@import url(../blocks/results/__text/results__text.css);
@import url(../blocks/results/__text/_type/result__text_type_bad.css);
@import url(../blocks/results/__text/_type/result__text_type_good.css);



