@import url(../fonts/fonts.css);
@import url(../blocks/root/root.css);

/* endOfCourse */

@import url(../blocks/card/card.css);
@import url(../blocks/card/__congratulate/card__congratulate.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__result/card__result.css);
@import url(../blocks/card/__result/_type/card__result_type_sorry.css);
@import url(../blocks/card/__result/_type/card__result_type_congratulate.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__text/_type/card__text_type_congratulate.css);
@import url(../blocks/card/__text/_type/card__text_type_sorry.css);
@import url(../blocks/card/__text/_type/card__text_type_span.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__title/_type/card__title_type_sorry.css);
@import url(../blocks/card/__title/_type/card__title_type_congratulate.css);