.results__text {
  font-family: "GolosTextWebRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.results__text:nth-child(2){
  margin-bottom: 20px;
}
