.results__good {
  width: 808px;
  height: 254px;
  left: 32px;
  top: 501px;
  background: rgba(0, 128, 0, 0.12);
  border: 1.2px solid rgba(0, 128, 0, 0.6);
  box-sizing: border-box;
  border-radius: 16px;
  align-items: center;
}
