@font-face {
  font-family: "GolosTextWebRegular";
  src: url("Golos-Text_Regular.woff2") format("woff2"),
    url("Golos-Text_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  font-style: bold;
  font-weight: 900;
  src: url(./Golos-Text_Bold.woff) format("woff"),
    url(./Golos-Text_Bold.woff2) format("woff2");
}
